@import '../mixins/config.scss';

$--color-primary: #1890ff;
$--color-white:#fff;
$--color-black:#000;
$--color-success:#52c41a;
$--color-error:#f5222d;
$--color-warning:#faad14;
$--color-danger:#f5222d;
$--color-info:#909399;